<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "za.co.deltacommunitychurch"
    versionCode = "12"
    version     = "1.0.1" >

<!-- versionCode is optional and Android only -->

  <name>Delta Community Church</name>

  <description>
      Delta Community Church
  </description>

  <author href="http://griffininternet.host" email="servers@eksteen.biz">
      Louis Eksteen
  </author>
  
  <preference name="permissions" value="none"/>
  <preference name="permissions" value="internet"/>


</widget>